html, body {
    height: 100%;
}

body {
    margin: 0;
}

#input-container {
    display: block;
}
#main {
    
    width: 640px;
    height: 640px;
    border: 1px solid blue;
    margin: 3rem auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 0;
    
    
}