html, body {
    height: 100%;
}

body {
    margin: 0;
}

#main {
    
    overflow: hidden;
    position: absolute;
    width: 99%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 0;
    
    
}